{% extends "index.html" %}
{% load static %}

{% block codigoDinamico %}

    <form action=" " method="GET">{% csrf_token %}
        <input type="text" name="modelo" id="modelo">
        <input type="submit" value="Buscar">
    </form>

    {% if vehiculos %}
        <ul>
        {% for vehiculo in vehiculos %}
            <li>{{vehiculo}}</li>
        {% endfor %}
        </ul>
    {% else %}
            <h3>{{respuesta}}</h3> 
    {% endif %}

    <button>
        <a class="button" href="{% url 'vehiculos_mostrar' %}">Volver</a>
    </button>
{% endblock %}